---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyB1xDZOC3wd02aSJ7s5zH__Vt3NzcIwO7M&language=en&location=40.785091%2C-73.968285&query=Central+Park&radius=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "New York, NY, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.7812199,
                       "lng" : -73.9665138
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.81831520000001,
                          "lng" : -73.93360849999999
                       },
                       "southwest" : {
                          "lat" : 40.74655879999998,
                          "lng" : -73.99737969999998
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "name" : "Central Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2948,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/107771078372310507318\"\u003eArik Karagyozyan\u003c/a\u003e"
                       ],
                       "photo_reference" : "ATtYBwKCeIuBrRD2s1GXAuI4ozGgUvJrmVfhQESNp7Dt0ZIb2wYvY9bfHZ7vT4pMSa8vdsZlw4LrfG-DmLXqMs6nwnPV34R5EdRXhS_wcYVk0VFllOJJTF_1PiXu0zKkBOXkHA_19lRL1OUkPXV94vrzbMO-8UZmKrV17UsFJMzJYymBnSWU",
                       "width" : 4032
                    }
                 ],
                 "place_id" : "ChIJ4zGFAZpYwokRGUGph3Mf37k",
                 "plus_code" : {
                    "compound_code" : "Q2JM+F9 New York, United States",
                    "global_code" : "87G8Q2JM+F9"
                 },
                 "rating" : 4.8,
                 "reference" : "ChIJ4zGFAZpYwokRGUGph3Mf37k",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 211487
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 23 Jan 2021 19:31:01 GMT
recorded_with: VCR 6.0.0
